<p id="alert"><%= alert %></p>
<h1>MYページ編集</h1>

<%= form_with scope: :session, local: true do |f| %>
  <div>
      <%= f.label :nickname, 'ニックネーム' %>
      <%= f.text_field :nickname %>
  </div>
  <div>
      <%= f.label :email, 'メールアドレス' %>
      <%= f.text_field :email, class: 'form-control', id: 'session_email' %>
  </div>
  
  <div>
      <%= f.label :password, 'パスワード' %>
      <%= f.password_field :password, class: 'form-control', id: 'session_password' %>
  </div>
  
  <%= f.submit '更新する', class: 'btn btn-primary' %>
<% end %>