<div class="text-center">
  <div class="form-all">
    <p id="alert"><%= alert %></p>
    <img class="logo" src="assets/denunce.png" alt="denunceのロゴ">
    <h1>ログイン</h1>

    <%= form_with scope: :session, local: true do |f| %>
      <div class="form-group">
        <%= f.label :nickname, 'ニックネーム', class: "label-hidden" %>
        <%= f.text_field :nickname, class: "form-control", placeholder: "ニックネーム" %>
      </div>
      <div class="form-group">
        <%= f.label :email, 'メールアドレス', class: "label-hidden" %>
        <%= f.text_field :email, class: 'form-control', placeholder: "メールアドレス" %>
      </div>
      <div class="form-group">
        <%= f.label :password, 'パスワード', class: "label-hidden" %>
        <%= f.password_field :password, class: 'form-control', placeholder: "パスワード" %>
      </div>
      <%= f.submit 'ログインする', class: 'form-btn1' %>
    <% end %>
    
    <%= link_to "サインイン", new_admin_user_path %>
  </div>
</div>
