<%= render "layouts/header" %>
<p id="notice"><%= notice %></p>
<div class="post-contents wrapper">
  <article>
    <div class="post-background">
      <H1>愚痴一覧</H1>
      <div id="meassages">
        <%= render @posts %>
      </div>
    </div>
  </article>
  <aside>
    <div class="post-background">
      管理人挨拶
      <%= image_tag "/images/animal_koutei_penguin_hina.png", class: "admin-logo" %>
      <p>こんにちは denunce管理人です。</p>
      <p>snsにかけないことや、普段たまっている愚痴をここで発散しませんか？</p>
      <p>あなたの日頃の愚痴を投稿して、ストレスを吹き飛ばしましょう！！</p>
    </div>
    <br>
    <div class="post-background">
      <h2 style="color: red;">このサイトの使い方</h2>
      <P>このサイトはログインせずに投稿することが可能です</P>
      <P>ただログインしていただくと、投稿していただいた投稿を管理することができます！</P>
      <P>(ログイン前に投稿していただいた投稿は表示することはできません(´;ω;｀))</P>
      <P>さらに他の投稿にいいねをすることができ、愚痴を共感することが可能になります</P>
      <P>その他にカテゴリー別に投稿割合が見れたりして、自分の愚痴がどのカテゴリーが多いか、知ることができます！</P>
      <P>ご興味ありましたら、ログインしてみてください！</P>
      <P>よろしくお願いします！！！</P>
    </div>
    <br>
    <div class="post-background">
      <p>愚痴の種類</p>
      <% @categories.each do |category| %>
        <p><%= link_to "#{category.name}", posts_path(category: category.id) %></p>
      <% end %> 
    </div>
    <br>
    <div class="post-background">広告</div>
  </aside>
</div>
