<%= form_with(model: post, local: true) do |form| %>
  <% if post.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(post.errors.count, "error") %> prohibited this post from being saved:</h2>

      <ul>
      <% post.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  
  <div class="field">
    <%= form.label :content %>
    <%= form.text_area :content %>
  </div>
  
  <% if session[:user_id] %>
   <%= form.hidden_field :user_id, :value => session[:user_id] %>
  <% end %>
  
  <%= form.hidden_field :guest, :value => session[:guest] %>
  
  <%= f.collection_select(:category_id, @categories, :id, :name) %>
  
  <%= form.label(:public, for: nil) do %>
    <%= form.radio_button :status, :public %>
    <%= I18n.t('すべての人に公開されます') %>
  <% end %>
  
  <%= form.label(:private, for: nil) do %>
    <%= form.radio_button :status, :private %>
    <%= I18n.t('あなたにだけ表示されます') %>
  <% end %>
  
  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>