<div class="text-center">
  <div class="form-all">
    <p id="alert"><%= alert %></p>
    
    <h1><a><%= image_tag "/images/denunce.png", class: "logo" %></a></h1>
    <h1>ユーザー編集</h1>
    
    <%= form_with model: [:admin, @user], local: true do |f|%>
      <div class="form-group">
        <%= f.label :nickname, '名前' %>
        <%= f.text_field :nickname, class: 'form-control' %>
      </div>
  
      <div class="form-group">
        <%= f.label :email, 'メールアドレス ' %>
        <%= f.text_field :email, class: 'form-control' %>
      </div>
  
      <div class="form-group">
        <%= f.label :password, 'パスワード' %>
        <%= f.password_field :password, class: 'form-control' %>
      </div>
  
      <div class="form-group">
        <%= f.label :password_confirmation, 'パスワード(確認)' %>
        <%= f.password_field :password_confirmation, class: 'form-control' %>
      </div>
  
      <%= f.submit '更新する', class: 'form-btn2' %>
    <% end %>
  </div>
</div>
