<p id="notice"><%= notice %></p>
<div>
  <div class="show-all">
    <div class="show-display">
      <div class="back-left">
        <%= link_to '戻る', root_path, class: "back-btn" %>
      </div>
      <div class="user-left">
        <%= link_to "ユーザー変更",edit_admin_user_path(@user), class: "user-btn" %>
      </div>
    </div>
    <h1><a href="/"><%= image_tag "denunce.png", class: "logo" %></a></h1>
    <h1>MYページ</h1>
    <hr>
    <div class="show-display">
      <div>
        <h2>ユーザー</h2>
        <table>
          <tbody>
            <tr>
              <th>ニックネーム</th>
              <td><%= @user.nickname %></td>
            </tr> 
            <tr>
              <th>メールアドレス</th>
              <td><%= @user.email %></td>
            </tr> 
          </tbody>
        </table>
      </div>
      <div>
        <h4>ユーザーの愚痴の投稿割合</h4>
        <%= pie_chart @posts.eager_load(:category).group(:"categories.name").count %>
      </div>
    </div>
    
    <h2>投稿一覧</h2>
    <hr>
    <% @posts.each do |post| %>
      <div class="post-display">
        <div><p><%= safe_join(post.content.split("\n"),tag(:br)) %></p></div>
        <div>
          <%= link_to post, method: :delete, data: { confirm: '削除していいですか?' } do %>
            <i class="fas fa-trash-alt"></i>
          <% end %>
        </div>
      </div>
    <% end %>
        </div>
      </tbody>
    </table>
  </div>
</div>