<h1>ユーザー詳細</h1>

<nav>
  <%= link_to '一覧', admin_users_path %>
</nav>

<table>
  <tbody>
    <tr>
      <th><%= User.human_attribute_name(:id) %></th>
      <td><%= @user.id %></td>
    </tr>
    <tr>
      <th><%= User.human_attribute_name(:nickname) %></th>
      <td><%= @user.nickname %></td>
    </tr> 
    <tr>
      <th><%= User.human_attribute_name(:email) %></th>
      <td><%= @user.email %></td>
    </tr> 
    <tr>
      <th><%= User.human_attribute_name(:admin) %></th>
      <td><%= @user.admin? ? 'あり' : 'なし'%></td>
    </tr> 
    <tr>
      <th><%= User.human_attribute_name(:created_at) %></th>
      <td><%= @user.created_at %></td>
    </tr> 
    <tr>
      <th><%= User.human_attribute_name(:updated_at) %></th>
      <td><%= @user.updated_at %></td>
    </tr> 
  </tbody>
</table>