<p id="notice"><%= notice %></p>
<P id="alert"><%= alert %></P>
<div>
  <div class="show-all">
    <div class="show-display">
      <div class="back-left">
        <%= link_to '戻る', root_path, class: "back-btn" %>
      </div>
      <div class="user-left">
        <%= link_to "ユーザー変更",edit_admin_user_path(@user), class: "user-btn" %>
      </div>
    </div>
    <h1><a href="/"><%= image_tag "/images/denunce.png", class: "logo" %></a></h1>
    <h1>MYページ</h1>
    <hr>
    <div class="show-display">
      <div>
        <h2>ユーザー</h2>
        <table>
          <tbody>
            <tr>
              <th>ニックネーム</th>
              <td><%= @user.nickname %></td>
            </tr> 
            <tr>
              <th>メールアドレス</th>
              <td><%= @user.email %></td>
            </tr> 
          </tbody>
        </table>
      </div>
      <div>
        <h4>ユーザーの愚痴の投稿割合</h4>
        <%= pie_chart @posts.eager_load(:category).group(:"categories.name").count %>
      </div>
    </div>
    
    <h2>投稿一覧</h2>
    <hr>
    <% @posts.each do |post| %>
      <div style="border-bottom: solid 1px #a9a9a9;" id="post_<%= post.id %>">
        <div class="post-display">
          <div><p><%= safe_join(post.content.split("\n"),tag(:br)) %></p></div>
          <div>
            <%= link_to post, method: :delete, data: { confirm: '削除していいですか?' } do %>
              <i class="fas fa-trash-alt"></i>
            <% end %>
          </div>
        </div>
      </div>
    <% end %>
    <h2>いいねした投稿</h2>
    <% @likes.each do |like| %>
      <div style="border-bottom: solid 1px #a9a9a9;" id="like_<%= like.id %>">
        <% post = Post.find_by(id: like.post_id) %>
          <div style="padding: 20px;"><P><%= safe_join(post.content.split("\n"),tag(:br)) %></P></div>
      </div>
    <% end %>
    <div class="user-destroy-btn">
      <%= link_to 'アカウント削除', [:admin, @user], method: :delete, data: { confirm: "ユーザ「#{@user.nickname}」を削除します。よろしいですか？" }, class: "user-btn" %>
    </div>
  </div>
</div>