<header class="page-header">
  <h1><a href="/"><%= image_tag "denunce.png", class: "logo" %></a></h1>
  <div class="search-form">
    <%= form_with url: search_path, method: :get, local: :true do |f| %>
      <%= f.text_field :word, placeholder: "投稿を検索してください" %>
    <% end %>
  </div>
  <div id="hamburger">
    <p class="btn-gNav">
      <span></span>
      <span></span>
      <span></span>
    </p>
    <nav id="gNav" class="">
      <ul class="header-nav gNav-menu">
        <% if session[:user_id].present? %>
          <li>
            <%= link_to 'ログアウト', logout_path, method: :delete %>
          </li>
          <li>
            <%= link_to 'MYページ', admin_user_path(session[:user_id]) %>
          </li>
          <li>
            <div id="open">
              <%= link_to '投稿', new_post_path, remote: true %>
            </div>
            <div class="popup">
              <div class="content">
                <%= link_to '×', posts_path, class: "js-modal-close btn-batu", remote: true %>
                <%= render 'posts/form', post: @post %>
              </div>
            </div>
          </li>
        <% else %>
          <li>
            <%= link_to 'サインイン', new_admin_user_path %>
          </li>
          <li>
            <%= link_to 'ログイン', login_path %>
          </li>
          <li>
            <div id="open">
              <%= link_to '投稿', new_post_path, remote: true %>
            </div>
            <div class="popup">
              <div class="content">
                <%= link_to '×', posts_path, class: "js-modal-close btn-batu", remote: true %>
                <%= render 'posts/form', post: @post %>
              </div>
            </div>
          </li>
        <% end %>
      </ul>
    </nav>
  </div>
</header>
<div class="subheader">
  <div class="container">
    <div class="underheader">
      <span class="publicnav">
        <span><%= link_to "ホーム", root_path %></span>
        <span><%= link_to "おすすめ投稿", good_path %></span>
        <span><%= link_to "いいねランキング", likes_path %></span>
      </span>
    </div>
  </div>
</div>